@font-face {
  font-family: "Aptos";
  src: url(/aptos-font/aptos.ttf);
}
@font-face {
  font-family: "Aptos-bold";
  src: url(/aptos-font/aptos-bold.ttf);
}
@font-face {
  font-family: "Britannic";
  src: url(/Britannic/Britannic\ Bold\ Regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Aptos", sans-serif;
}
p {
  font-family: "Aptos", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Britannic", sans-serif;
}

:root {
  --primary: #01913b;
}
