.search-dropdown-main {
  position: relative;
  cursor: pointer;
}

.search-dropdown-1 {
  min-width: 140px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 55px;
  left: -85px;
}
.search-li-1 {
  text-decoration: none;
  list-style: none;
  width: fit-content;
  padding-bottom: 5px;
}
.search-li-1 > li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}
.search-li-1 > li:hover{
  color: #00913a;
}
.sticky-filter-1 {
  position: sticky;
  top: 4rem;
  background-color: #ffff;
  padding: 1rem;
  z-index: 999;
}
.product-append-111 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  gap: 10px 5px;
}
.h-second-icon-1 {
  font-size: 45px;
  margin-left: 20px;
}
.h-second-nav > div {
  margin-left: 30px;
}
.h-second-icon- {
  font-size: 35px;
  margin-left: 20px;
}
.product-details-content-ss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details-content-ss1 {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.main-product-ima {
  width: 100%;
  cursor: pointer;
}
.main-product-ima > img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.main-product-ima > img:hover {
  transform: scale(1.03);
}
.bookmark-checkbox-1 {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.bookmark-checkbox-1 > input[type="checkbox"] {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  background-color: transparent;
  border: 2px solid #ffff;
  border-radius: 3px;
  cursor: pointer;
  position: relative; /* Required for positioning the tick mark */
  display: inline-block;
  margin: 0;
}

.bookmark-checkbox-1 > input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.bookmark-checkbox-1 > input[type="checkbox"]:checked::after {
  content: "✓"; /* Tick mark character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem; /* Adjust size as needed */
  color: white; /* Color of the tick mark */
}
.first-div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  /* align-items: flex-start; */
}

.first-div-right {
  min-height: 100%;
}
.first-div-right > div:last-child {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.product-details-div {
  border: 1px solid gray;
  padding: 7px;
  border-radius: 20px;
}
.product-details-div:hover {
  border: 1px solid #00913a;
}
.product-details-content-ss11 {
  display: flex;
  gap: 12px;
}

.show-bottom-button {
  width: 15%;
  margin: auto;
  margin-bottom: 30px;
}
.show-bottom-button > button {
  font-size: 20px;
  background-color: #ffff;
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid #00913a;
  cursor: pointer;
}

@media (max-width: 768px) {
  .product-append-111 {
    grid-template-columns: repeat(1, 1fr);
  }
  .show-bottom-button {
    width: 50%;
  }
  .sticky-filter-1 {
    top: 5rem;
  }
}
